name: Lint

on:
  - push
  - pull_request

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        if: startsWith(github.ref, 'refs/heads/')
        uses: actions/checkout@v2

      - name: Set up Node.js
        if: startsWith(github.ref, 'refs/heads/')
        uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: Install dependencies
        if: startsWith(github.ref, 'refs/heads/')
        run: yarn install

      - name: Run linters
        if: startsWith(github.ref, 'refs/heads/')
        run: yarn fix

      - name: push
        if: startsWith(github.ref, 'refs/heads/')
        uses: github-actions-x/commit@v2.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          push-branch: 'master'
          commit-message: 'lint'
          force-add: 'false'
          name: Github Action
          email: it@dipperin.io
      
      - name: test string process
        env:
          GITHUB_CONTEXT: ${{ github.ref[11:] }}
        run: echo "$GITHUB_CONTEXT"

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"
